<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../vendor/autoload.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         verbose="true">
  <filter>
    <whitelist>
      <directory>../src/</directory>
    </whitelist>
  </filter>
  <testsuite name="takuya/SimpleApp test ">
    <directory>.</directory>
  </testsuite>

</phpunit>

